{% extends "base.html" %}

{% block content %}
<table class="table">
    <tr>
    <th>Crypto</th>
    {% for category in overviewData %}
        <th>{{ category }}</th>
    {% endfor %}
    </tr>
    {% for crypto in cryptoList %}
    <tr>
        <th><a href={{ url_for("cryptoView", crypto=crypto) }}>{{ crypto }}</a></th>
        {% for category in overviewData %}
            <th>{{ overviewData[category][crypto] }}</th>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <th>Samtals: {{ sum|float|round(2) }}</th>
        <th>Hagnaður: {{ (sum-sumBaseline)|float|round(2) }}</th>
    </tr>
</table>
{% endblock %}